.admin-corpo{
    position: absolute;
    background: rgb(238, 238, 238);
    padding: 3%;
    height: 100%;
    left: 10%;
    z-index: 1;
}

.admin-corpo-menu{
    display: flex;
    justify-content: center;

    li{
        padding: 0 30px;
        padding-bottom: 20px;
        
        a{
            color: rgb(80, 80, 80);
            text-decoration: none;
            font-weight: 700;
        }
    }
}
