.post {
  margin-bottom: 24px;
}

.post-content {
  border: solid 2px #cacaca;

  &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      border-top: solid 2px #cacaca;
      padding: 8px 16px;

    .group{
        display: flex;
        align-items: center;
      }
  }

  &__user {
      padding: 16px 32px;
      display: flex;
      align-items: center;

      img {
        $size: 40px;
        height: $size;
        width: $size;
        border-radius: 50%;
        border: 2px solid #a5a5a5;
        margin-right: 2%;
      }
  }

  &__text {
    font-size: 16px;
    padding: 0 32px 16px 32px;
  }

  &__new {
    padding: 16px;
    max-width: 760px;
    position: relative;

    textarea {
      width: 100%;
    }

    .group {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    button {
      font-size: 16px;
      margin-top: 8px;
      padding: 8px 16px;
      background: #ccc;
      border: none;
      cursor: pointer;
      transition: all 250ms ease-in;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}

.link {
  background: none;
  outline-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: #004A5D;
  cursor: pointer;

  &.active {
    color: lighten(#004A5D, 20%);
  }
}
