.perfil-lateral{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#024b5a ;

    .perfil-lateral-user{
        display: flex;
        align-items: center;
        color: #f1f1f1;

        .perfil-lateral-logo{
            height: 40px;
            margin: 15px 20px;
            border-radius: 50px;
        }
        .perfil-lateral-username{
            font-weight: 700;
        }
    }

    .titulo{
        font-size: 1.3em;
        border: #f1f1f1 solid;
        padding: 10px 15px;
        margin: 0 10px;
    }
    .perfil-notificacoes{
        display: flex;
        align-items: center;
        color: #f1f1f1;

        div{
            padding: 0 30px;
        }
        .notificacoes-icone{
            display: flex;
            align-items: center;

            img{
                height: 20px;
                padding: 5%;
            }
        }
    }
}



.perfil-lateral-username{

}

.perfil-lateral-infos{

}