body{
    background:#ffe583;
}
.feed {
    display: block;

    .feed-posts{
        width: 100%;
        background: #f2f2f2;
        padding: 24px 0;

        .feed-posts-post{
            width: 800px;
            margin: 0 auto;
            background: #f7f7f7;

        }
    }
}
